.main {
	display: grid;
	/*
		repeat: number of columns, width of columns.
		For example, in here I wanted a 12 column grid that equalled 100% of the browser width.

		This can be used in conjunction with other columns, ex:
		 200px repeat(10, 10%) 200px;

		 You may also use auto columns similar to the rows example shown below.
	*/
	grid-template-columns: repeat(12, 8%);
	// grid-auto-columns: 8.3%;

	/*
		Rows may be added implicitly or explicitly.

		The grid-template-rows can work explicitly like the grid columns OR you may create grid rows as needed with the grid-auto-rows version.

		You may set the rows to automatically expand in height with minmax.
	*/
	// grid-template-rows: repeat(12, 8.3vh);
	grid-auto-rows: minmax(0, auto);

}

.header {
	background-color: $pale-magenta;
	border: 2px solid $magenta;
	border-radius: 3px;
	&__title {
		text-align: center;
		color: $white;
	}
}

.sidebar {
	background-color: $pale-lime;
	border: 2px solid $lime;
	border-radius: 3px;
	&__title {
		text-align: center;
		color: $white;
	}

}

.body {
	background-color: $pale-cyan;
	border: 2px solid $cyan;
	border-radius: 3px;
	&__title {
		text-align: center;
		color: $white;
	}
}

.footer {
	background-color: $pale-yellow;
	border: 2px solid $yellow;
	border-radius: 3px;
	&__title {
		text-align: center;
		color: $white;
	}

}
