// colors
$black: #000;
$white: #fff;

$magenta: #ff00ff;
$lime: #00ff00;
$cyan: #00ffff;
$purple: #800080;
$yellow: #ffff00;


$pale-magenta: rgba($magenta, 0.5);
$pale-lime: rgba($lime, 0.5);
$pale-cyan: rgba($cyan, 0.5);
$pale-purple: rgba($purple, 0.5);
$pale-yellow: rgba($yellow, 0.5);

// type
$sans-serif: Arial, "Helvetica Neue", Helvetica, sans-serif;
